{% extends "base.html" %}

{% load static %}

{% block header %}
  <link href="{% static 'fitness/bootstrap-fileinput/css/fileinput.min.css' %}"
        media="all"
        rel="stylesheet"
        type="text/css" />
  <script src="{% static 'fitness/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
  <script src="{% static 'fitness/activity-upload.js' %}"></script>
{% endblock header %}
{% block title %}
  Upload
{% endblock title %}
{% block content %}
  <div>
    <label class="control-label">Upload TCX</label>
    <input class="file"
           type="file"
           id="chooseTCX"
           accept=".tcx"
           multiple
           data-show-upload="false"
           data-show-caption="true"
           data-show-preview="false" />
  </div>
  <div>
    <label class="control-label">Upload GPX</label>
    <input class="file"
           type="file"
           id="chooseGPX"
           accept=".gpx"
           multiple
           data-show-upload="false"
           data-show-caption="true"
           data-show-preview="false" />
  </div>
  <script>
    document.querySelector("#chooseTCX").addEventListener('change', readMultipleTCX, false);
    document.querySelector("#chooseGPX").addEventListener('change', readMultipleGPX, false);
    // $('#chooseTCX').on('filereset', clearStatusEvent);
    // $('#chooseGPX').on('filereset', clearStatusEvent);
    $('#chooseTCX').on('filecleared', clearStatusEvent);
  </script>
  <div id="readStatus">Raw</div>
  <div id="located_runs"></div>
  <div>
    <button id="upload" type="submit" class="btn btn-primary" disabled>Upload</button>
  </div>
  {# djlint:off #}
  <div class="progress-bar progress-bar-success"
       role="progressbar"
       aria-valuenow="40"
       id="progress"
       aria-valuemin="0"
       aria-valuemax="100"
       style="width:40%"
       hidden>40% Complete (success)</div>
  {# djlint:on #}
  <script>
    $("#upload").click(uploadActivities);
    $("#upload").prop('disabled', true);
  </script>
{% endblock content %}
